<section id="contenedor">
<%= render 'layouts/header' %>
<section id="cartelera" >
<section id="texto">
<h1>Programas</h1>
<%= image_tag("artesyoficios.jpg", width: '300px') %>

<p>Los cursos gratuitos que actualmente presentamos son en las especialidades de:</p>
<div class="articulos">
  <div class="articulo">
    <%= image_tag("dibujo.jpg", width: '150px') %>
    <p>Pintura y dibujo</p>
  </div>
  <div class="articulo">
    <%= image_tag("manualidades.jpg", width: '200px') %>
    <p>manualidades</p>
  </div>
  <div class="articulo">
    <%= image_tag("bisuteria.jpg", width: '150px') %>
    <p>Bisutería</p>
  </div>
  <div class="articulo">
    <%= image_tag("confecion.jpg", width: '150px') %>
    <p>Confección</p>
  </div>
  <div class="articulo">
    <%= image_tag("panadera.jpg", width: '150px') %>
    <p>Reposteria y Panaderia</p>
  </div>
  <div class="articulo">
    <%= image_tag("manicura.jpg", width: '150px') %>
    <p>Manicura y Pedicura</p>
  </div>
 </div><br>
</section>

</section>
<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>
</section>
